<div class="container-registration">
  <div class="wrapper-registration">

    <h2>Réinitialiser mon mot de passe</h2>
    <br>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    label: "Votre adresse e-mail",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Recevoir les insctructions" %>
      </div>
    <% end %>
    <br>

    <%= render "devise/shared/links" %>

    </div>

</div>
