<h1 style="padding-top: 50px">Listes des commandes payées</h1>
<%= render 'shared/dashboard'%>
<div style="padding: 20px 0px 0px 200px">
  <ul>
  <% @purchases.each do |item| %>
  <li>
    <strong>Ref: </strong><%= item.created_at.strftime("%m%d") %>-<%= item.user_id %>-<%= item.product_sku %></h4>
  </li>
    <li>
      <strong>Status: </strong><%= item.state %>
    </li>
    <li>
      <strong>Email: </strong><%= @users.find(item.user_id).email %>
    </li>
    <li>
      <strong>Téléphone: </strong>0<%= @users.find(item.user_id).phone %>
    </li>
    <li>
      <strong>Nom: </strong><%= @users.find(item.user_id).last_name %> <%= @users.find(item.user_id).first_name %>
    </li>
    <li>
      <% if item.slot != [] %>
        <% item.slot.each do |t| %>
          <strong>Atelier: </strong><%= t %>
        <% end %>
        <!-- < else %> -->
          <!-- < if Lesson.find(Cart.find(item.product_sku).gift.to_i).title %> -->
            <!-- <strong>Atelier : </strong>< Lesson.find(item.product_sku).title %> -->
          <!-- < end %> -->
      <% end %>
    </li>
    <hr>
  <% end %>
  </ul>
</div>


