<header id="header" class="header is-absolute header--light">
  <div class="logo">
    <a class="logo__link" href="/"></a>
  </div>
  <nav class="menu">
    <ul class="custom_navbar_menu_list">
      <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="/lessons">Ateliers</a></li>
      <!-- <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="https://www.delaterrealobjet.fr/lessons">Ateliers</a></li> -->
      <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="/lessons?query6=true">Bons cadeaux</a></li>
      <!-- <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="https://www.delaterrealobjet.fr/lessons?query6=true">Bons cadeaux</a></li> -->
      <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <span id="select-planning-nav" class="menu__product__link" href="/lessons?query6=true">Planning</span></li>
      <% if user_signed_in? %>
        <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
          <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="https://www.delaterrealobjet.fr/cart_items" style="position: relative; text-align: center">
            Panier
              <% if @cart_items.count != 0 %>
                <span class="notification-count"><%= @cart_items.count %></span>
              <% end %>
          </a>
        </li>
      <% else %>
        <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
          <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="#" style="cursor: not-allowed">Panier</a>
        </li>
      <% end %>
    </ul>
  </nav>
  <% if user_signed_in? %>
    <div class="shopping-nav">
  <% else %>
    <div class="shopping-nav">
  <% end %>
    <div class="header-item">
    <% if user_signed_in? %>
      <div class="dropdown">
        <%= image_tag "https://res.cloudinary.com/dw7nokc0j/image/upload/v1555074154/home.png", class: "avatar dropdown-toggle", id: "header-menu", "data-toggle" => "dropdown", alt: '' %>
        <% if @cart_items.count != 0 %>
          <span class="notification-count burger dropdown"><%= @cart_items.count %></span>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right header-dropdown-menu">
          <ul class="burger-phone">
            <li id="" class="fa fa-sign-out">
              <a id="" class=".sign_out xl" href="https://www.delaterrealobjet.fr/lessons">Ateliers</a></li><br>
            <li id="" class="fa fa-sign-out">
              <a id="" class=".sign_out xl" href="https://www.delaterrealobjet.fr/lessons?query6=true">Bons cadeaux</a></li><br>
            <li id="" class="fa fa-sign-out">
              <a id="select-planning-nav-burger" class=".sign_out xl">Planning</a></li><br>
            <li id="" class="fa fa-sign-out">
              <a id="" class=".sign_out xl" href="https://www.delaterrealobjet.fr/cart_items">Panier</a></li><br>
          </ul>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "header-item header-link" do %>
              <%= t(".sign_out xl", default: "Se déconnecter") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
      <div class="dropdown">
        <%= image_tag "https://res.cloudinary.com/dw7nokc0j/image/upload/v1555074154/home.png", class: "avatar dropdown-toggle", id: "header-menu", "data-toggle" => "dropdown", alt: '' %>
        <ul class="dropdown-menu dropdown-menu-right header-dropdown-menu">
          <ul class="burger-phone">
            <li id="" class="fa fa-sign-out">
              <a id="" class=".sign_out xl" href="https://www.delaterrealobjet.fr/lessons">Ateliers</a></li><br>
            <li id="" class="fa fa-sign-out">
              <a id="" class=".sign_out xl" href="https://www.delaterrealobjet.fr/lessons?query6=true">Bons cadeaux</a></li><br>
            <li id="" class="fa fa-sign-out">
              <a id="select-planning-nav-burger" class=".sign_out xl">Planning</a></li><br>
            <li id="" class="fa fa-sign-out">
              <a id="" class=".sign_out xl" href="https://www.delaterrealobjet.fr/cart_items">Panier</a></li><br>
          </ul>
          <li>
            <%= link_to t(".sign_in xl", default: "Connection"), new_user_session_path, class: "header-item header-link" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</header>
