<div class="form-container">
  <div class="product-form">
    <%= simple_form_for(@event) do |f| %>
      <%= f.input :title, label: 'Intitulé' %>
      <%= f.input :description, label: 'Description' %>
      <%= f.input :start_date, label: 'Date de début', as: :datetime, html5: true %>
      <%= f.input :end_date, label: 'Date de fin', as: :datetime, html5: true %>
      <%= f.input :link, label: 'lien'%>
      <%= f.input :location, label: 'Lieu' %>
      <%= f.input :priority, label: "Priorité affichage(0 => En premier)" %>
      <br>
      <h1>Photo</h1>
      <%= f.file_field :photo, label: 'Ajouter une photo' %>
      <br>
      <%= f.input :alt, label: 'Tags' %>
      <br>
      <div class="button-container">
        <%= f.submit "+ Mettre à jour cet event", class: "btn btn-size" %>
      </div>
    <% end %>
  </div>
</div>
