<%= render 'shared/banner' %>

<h1 class="main-title first"><strong>actualités</strong><hr class="hr-title"></h1>
<div class="announcement">
  <div class="announcement-wrapper">
    <div class="left-side">
      <% if Event.count > 3 %>
        <ul class="stage">
        <% Event.all.sort_by{ |obj| obj.priority }.take(3).each do |stage| %>
          <li style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); background-color: white;">
            <%= link_to(stage.link) do %>
              <%= image_tag(stage.photo.to_s, :alt => stage.alt) do %>
              <% end %>
              <div style="display: flex; display: flex; justify-content: flex-start;">
                <div style="padding: 11px 20px">
                  <% unless stage.start_date.nil? %>
                    <h4 style="color: rgba(202, 120, 103, 1); margin: 0px"><%= l(stage.start_date, :format => "%b", :locale => 'fr') %></h4>
                    <h4 style="margin-top: 0px; font-weight: 600;"><%= l(stage.start_date, :format => "%e", :locale => 'fr') %></h4>
                  <% else %>
                    <p style="color: rgba(202, 120, 103, 1)">Nouveau</p>
                  <% end %>
                </div>
                <div>
                  <h5 style="text-align: -webkit-left;"><%= stage.title %></h5>
                  <p style="text-align: -webkit-left;"><%= stage.title %></p>
                </div>
              </div>
              <!-- <hr style="width: 90%; margin: auto;"> -->
            <% end %>
          </li>
        <% end %>
        <% else %>
        <ul class="stage centered">
          <% Event.all.each do |stage| %>
          <li style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: white;">
            <%= link_to(stage.link) do %>
              <%= image_tag(stage.photo.to_s, :alt => stage.alt) do %>
              <% end %>
              <div style="display: flex; display: flex; justify-content: flex-start;">
                <div class="event-date" style="padding: 12.5px">
                  <% unless stage.start_date.nil? %>
                    <h4 style="color: rgba(202, 120, 103, 1); margin: 0px"><%= l(stage.start_date, :format => "%b", :locale => 'fr') %></h4>
                    <h4 style="margin-top: 0px; font-weight: 600;"><%= l(stage.start_date, :format => "%e", :locale => 'fr') %></h4>
                  <% else %>
                    <p style="color: rgba(202, 120, 103, 1)">Nouveau</p>
                  <% end %>
                </div>
                <div>
                  <h4><%= stage.title %></h4>
                  <p style="text-align: -webkit-left;"><%= stage.title %></p>
                </div>
              </div>
              <hr style="width: 90%; margin: auto;">
          <% end %>
          </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<h1 class="main-title"><strong id="discover-focus">ATELIERS & STAGES</strong><hr class="hr-title"></h1>
<%= render 'shared/overview' %>
<div class="about">
  <div class="tessa">
    <div class="avatar-tessa">
      <%= image_tag "https://res.cloudinary.com/dw7nokc0j/image/upload/v1554393031/Tessa_guilbaud2.jpg", alt: "Tessa Guilbaud" %>
    </div>
    <div class="resume">
      <p>Je travaille sur le geste et son dialogue avec la matière. La trace et l'empreinte de la main sont pour moi sources d'innovation par l'inattendu et la surprise qu'elles provoquent. </p>
      <hr size="30">
      <p><strong>Tessa Guilbaud - Créatrice</strong></p>
      <%= link_to pages_tessa_path do %>
        <button class="button-infos">En savoir +</button>
      <% end %>
    </div>
  </div>
<h1 class="main-title"><strong>A PROPOS</strong><hr class="hr-title"></h1>
  <div class="pedagogy">
    <h3>Pédagogie</h3>
    <p>Sur le "chemin de la terre à l'objet", je propose des situations de modelage adaptées à la personne. <br> Car chacun se trouve à une étape du chemin de la création, capable d'évoluer pour en découvrir d'autres.</p>
    <%= link_to teachings_path do %>
      <button class="button-infos">En savoir +</button>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.adminkey == "admin" %>
      <button id="modify-website" class="btn btn-danger modify-website" style="opacity: 0.3">Modifier</button>
      <ul id="modifyA" style="display: none;">
        <li>
          <%= link_to "/purchases/index" do %>
            <button id="modify" class="button-infos">Dashboard</button>
          <% end %>
        </li>
        <li>
          <%= link_to new_event_path do %>
            <button id="modify" class="button-infos">Evenement</button>
          <% end %>
        </li>
        <li>
          <%= link_to new_lesson_path do %>
            <button id="modify" class="button-infos">Atelier</button>
          <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
<script>
const header = document.querySelector('.header.is-absolute');
const logoLink = document.querySelector('.logo__link');
const logo = document.querySelector('.logo');
const items = document.querySelectorAll('.menu__product__item');
const dropdown = document.querySelector('.shopping-nav');
const content = document.querySelector('.split p');
const title = document.querySelector('.banner-main-title');
const button = document.querySelector('.split button');

var height = window.top.innerHeight;

  if ( window.innerWidth < 800 ) {
    header.classList.remove('transparent')
    logo.classList.remove('transparent')
    logoLink.classList.remove('transparent')
    items.forEach((item) => {
      item.classList.remove('transparent')
    })
    dropdown.classList.remove('transparent')
  } else {
    header.classList.add('transparent')
    logo.classList.add('transparent')
    logoLink.classList.add('transparent')
    items.forEach((item) => {
      item.classList.add('transparent')
    })
    dropdown.classList.add('transparent')
  }

  document.addEventListener('scroll', (event) => {
    if (window.pageYOffset > 95) {
      title.classList.add('opacity')
      button.classList.add('opacity')
      // content.classList.add('opacity')
    } else {
      title.classList.remove('opacity')
      button.classList.remove('opacity')
      // content.classList.remove('opacity')
    }
  })

  document.addEventListener('scroll', (event) => {
    if( window.innerWidth < 800 || window.pageYOffset > 458) {
      header.classList.remove('transparent')
      logo.classList.remove('transparent')
      logoLink.classList.remove('transparent')
      items.forEach((item) => {
        item.classList.remove('transparent')
      })
      dropdown.classList.remove('transparent')
    } else {
      header.classList.add('transparent')
      logo.classList.add('transparent')
      logoLink.classList.add('transparent')
      items.forEach((item) => {
        item.classList.add('transparent')
      })
      dropdown.classList.add('transparent')
    }
  })
</script>
<script>
document.querySelector('.discover').addEventListener('click', () => {
  document.querySelector('#discover-focus').scrollIntoView({ behavior: "smooth" });
});
</script>
<% if user_signed_in? && current_user.adminkey %>
  <script>
  const modify = document.querySelector('#modify-website');
  const modifyA = document.querySelector('#modifyA');
  modify.addEventListener('click', function() {
    modifyA.classList.toggle("show-widget");
  });
  </script>
<% end %>
