<%= render 'shared/banner' %>
<h1 class="main-title"><strong>NOS PROCHAINS EVENEMENTS</strong><hr class="hr-title"></h1>
<div class="announcement">
  <div class="announcement-wrapper">
    <div class="left-side">
      <ul class="stage">
        <% Event.all.take(3).each_with_index do |stage, index| %>
          <li style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: white;">
            <%= image_tag stage.photo, alt: "Tessa Guilbaud" %>
            <div style="display: flex; display: flex; justify-content: flex-start;">
              <div style="padding: 12.5px">
                <h4 style="color: rgba(202, 120, 103, 1); margin: 0px"><%= l(stage.start_date, :format => "%b", :locale => 'fr') %></h4>
                <h4 style="margin-top: 0px; font-weight: 600;"><%= l(stage.start_date, :format => "%e", :locale => 'fr') %></h4>
              </div>
              <div>
                <h4><%= stage.title %></h4>
                <p style="text-align: -webkit-left;"><%= stage.title %></p>
              </div>
            </div>
            <hr style="width: 90%; margin: auto;">
            <%= link_to teachings_path do %>
              <button class="button-infos" style="margin: 8px 0px;">En savoir +</button>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<h1 class="main-title"><strong>NOS COURS</strong><hr class="hr-title"></h1>
<%= render 'shared/overview' %>
<div class="about">
  <div class="tessa">
    <div class="avatar-tessa">
      <%= image_tag "https://res.cloudinary.com/dw7nokc0j/image/upload/v1554393031/Tessa_guilbaud2.jpg", alt: "Tessa Guilbaud" %>
    </div>
    <div class="resume">
      <p>Je travaille sur le geste et son dialogue avec la matière. La trace et l'empreinte de la main sont pour moi sources d'innovation par l'inattendu et la surprise qu'elles provoquent. </p>
      <hr size="30">
      <p><strong>Tessa Guilbaud - Créatrice</strong></p>
      <a href="https://tessaguilbaud.jimdo.com/accueil/parcours/" target="_blank"><button class="button-infos">En savoir +</button></a>
    </div>
  </div>
<h1 class="main-title"><strong>A PROPOS</strong><hr class="hr-title"></h1>
  <div class="pedagogy">
    <h3>Pédagogie</h3>
    <p>Sur le "chemin de la terre à l'objet", je propose des situations de modelage adaptées à la personne. <br> Car chacun se trouve à une étape du chemin de la création, capable d'évoluer pour en découvrir d'autres.</p>
    <%= link_to teachings_path do %>
      <button class="button-infos">En savoir +</button>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.adminkey == "admin" %>
      <button id="modify-website" class="btn btn-danger modify-website">Modifier</button>
      <ul id="modifyA" style="display: none;">
        <li>
          <%= link_to new_teaching_path do %>
            <button id="modify" class="button-infos">Pédagogie</button>
          <% end %>
        </li>
        <li>
          <%= link_to new_event_path do %>
            <button id="modify" class="button-infos">Evenement</button>
          <% end %>
        </li>
        <li>
          <%= link_to new_lesson_path do %>
            <button id="modify" class="button-infos">Cours</button>
          <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
