<div class="purchases-container">
  <div class="purchases-list-header">
    <div class="tab-container">
      <%= link_to purchases_index_path, class: "tab-list-link" do %>
        <div class="tabl-list-item active"><h1><strong>Mes ateliers</strong></h1></div>
      <% end %>
      <%= link_to users_setting_path, class: "tab-list-link active" do %>
        <div class="tabl-list-item"><h1><strong>Mes coordonnées</strong></h1></div>
      <% end %>
    </div>
  </div>
  <div class="purchases-list-content">
    <div class="purchases-list-container">
      <div class="cart-form flex">
        <div class="billing-form">
          <%= form_tag update_user_infos_path do %>
            <%= label_tag("Email") %>
            <%= text_field_tag(:email, @user.email, disabled: false) %>
            <%= label_tag("Prénom") %>
            <%= text_field_tag(:first_name, @user.first_name, required: false) %>
            <%= label_tag("Nom") %>
            <%= text_field_tag(:last_name, @user.last_name, required: false) %>
            <%= label_tag("Adresse") %>
            <%= text_field_tag(:address, @user.address, required: false) %>
            <%= label_tag("Ville") %>
            <%= text_field_tag(:city, @user.city, required: false) %>
            <%= label_tag("Code postal") %>
            <%= text_field_tag(:zip, @user.zip, required: false) %>
            <%= label_tag("Téléphone") %>
            <%= text_field_tag(:phone, @user.phone, placeholder: "06000000", required: false) %>
            <%= submit_tag 'Modifier mes coordonnées', class: 'btn cart-button' %>
          <% end %>
        </div>
        <div class="billing-form delete-account">
          <%= form_tag delete_user_path do %>
            <%= submit_tag 'Supprimer mon compte', class: 'btn btn-danger', data: { confirm: "Vous êtes sur le point de supprimer toutes vos données, voulez-vous continuer ?" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
