<h1 style="padding: 80px 20px 0px 20px">Bonjour, vous pouvez renseigner vos coordonnées ci-dessous :</h1>

<%if params[:gift] %>
  <div class="cart-wrapper reverse">
<% else %>
  <div class="cart-wrapper">
<% end %>
  <div class="cart-form">
    <h4>Vos coordonnées</h4>
    <div class="billing-form">
      <% if params[:gift] %>
        <%= form_tag cart_purchases_path(gift: true, cart_id: @cart.id) do %>
          <%= label_tag("Email") %>
          <%= text_field_tag(:email, @cart.user.email) %>
          <%= label_tag("Prénom") %>
          <%= text_field_tag(:first_name, @cart.user.first_name) %>
          <%= label_tag("Nom") %>
          <%= text_field_tag(:last_name, @cart.user.last_name) %>
          <%= label_tag("Adresse") %>
          <%= text_field_tag(:address, @cart.user.address) %>
          <%= label_tag("Ville") %>
          <%= text_field_tag(:city, @cart.user.city) %>
          <%= label_tag("Code postal") %>
          <%= text_field_tag(:zip, @cart.user.zip) %>
          <%= label_tag("Téléphone") %>
          <%= text_field_tag(:phone, @cart.user.phone, placeholder: "06000000") %>
          <%= hidden_field_tag 'cart_id', @cart.id %>
          <%= hidden_field_tag 'slot', params[:lesson] %>
          <%= submit_tag 'Valider ma commande', class: 'btn btn-danger' %>
        <% end %>
      <% else %>
        <%= form_tag cart_purchases_path(@cart.id) do %>
          <%= label_tag("Email") %>
          <%= text_field_tag(:email, @cart.user.email) %>
          <%= label_tag("Prénom") %>
          <%= text_field_tag(:first_name, @cart.user.first_name) %>
          <%= label_tag("Nom") %>
          <%= text_field_tag(:last_name, @cart.user.last_name) %>
          <%= label_tag("Adresse") %>
          <%= text_field_tag(:address, @cart.user.address) %>
          <%= label_tag("Ville") %>
          <%= text_field_tag(:city, @cart.user.city) %>
          <%= label_tag("Code postal") %>
          <%= text_field_tag(:zip, @cart.user.zip) %>
          <%= label_tag("Téléphone") %>
          <%= text_field_tag(:phone, @cart.user.phone, placeholder: "06000000") %>
          <%= hidden_field_tag 'cart_id', @cart.id %>
          <%= submit_tag 'Valider ma commande', class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="cart-summary">
    <%if params[:gift] %>
    <h4>Bon valable 12 mois - Non nominative</h4>
    <p>Pour utiliser votre bon cadeau, téléphonez à Tessa. <br> Munissez-vous de la <strong><u>référence</u></strong> fournie à l'étape de paiement.</p>
    <img style="width: 100%"src="https://res.cloudinary.com/dw7nokc0j/image/upload/v1560937414/Bon_cadeau.jpg" alt="">
    <p class="font-weight-bold">Total :<span style="font-size:30px"> <%= number_to_currency(@cart.price_cents, unit: "€", separator: ",", format: "%n %u") %></span></p>
    <% else %>
    <h4>Récapitulatif</h4>
    <% @cart.cart_items.each do |item| %>
    <div class="cart-summary-item">
      <span>
        <% if item.product.present? %>
          <%= image_tag(item.product.photo.to_s, class: "cart-icon") do %>
          <% end %>
          </span>
          <span><%= item.product.name %> <span class="cartq" style="font-size: 14px;opacity: 0.8;">x <%= item.quantity %></span></span>
          </div>
          <% else %>
           <%= image_tag(item.lesson.photo.to_s, class: "cart-icon") do %>
          <% end %>
          </span>
          <span><%= item.lesson.title %> <span class="cartq" style="font-size: 14px;opacity: 0.8;">x <%= item.quantity %></span></span>
          </div>
        <% end %>
    <% end %>
    <br><br><br>
    <p class="font-weight-bold">Total :<span style="font-size:30px"> <%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %></span></p>
    <% end %>
  </div>

</div>

