<h1 style="padding-top: 80px">HELLO ready for checkout</h1>

<h4>Récapitulatif</h4>
<% @cart.cart_items.each do |item| %>
  <li><%= item.product.name %>
  <%= item.product.price_cents %> euros</li>
<% end %>

<%= current_user.email %>

<h4>Vos coordonées</h4>
<div class="billing-form">
    <%= simple_form_for(current_user) do |f| %>
      <%= f.input :first_name, label: 'Nom & Prénom' %>
      <%= f.input :email, label: 'n° & adresse' %>
      <div class="button-container">
      <%= f.submit "Valider les coordonées", class: "btn btn-size" %>
      </div>
    <% end %>
  </div>

