<h1 style="padding-top: 80px">HELLO ready for checkout</h1>

<h4>Récapitulatif</h4>
<% @cart.cart_items.each do |item| %>
  <li><%= item.product.name %>
  <%= item.product.price_cents %> euros</li>
<% end %>

<%= current_user.email %>

<h4>Vos coordonées</h4>
<div class="billing-form">
    <%= form_for(@cart) do |f| %>
      <%= f.text_field :price_cents %>
      <%= f.submit %>
    <% end %>
  </div>

