<div class="filter-for-lesson">
  <div class="filter-button"><h1><%= link_to "Adultes", lessons_path({query1: true}) %></h1></div>
  <div class="filter-button"><h1><%= link_to "Découverte", lessons_path({query2: "Découverte"}) %></h1></div>
  <div class="filter-button"><h1><%= link_to "Enfants", lessons_path({query3: true}) %></h1></div>
  <div class="filter-button"><h1><%= link_to "Atelier libre", lessons_path({query4: "Atelier libre"}) %></h1></div>
  <div class="filter-button"><h1><%= link_to "Stages", lessons_path({query5: "Stage"}) %></h1></div>
</div>
