<div class="filter-for-lesson">
  <div class="filter-button"><p><%= link_to "Cours enfants", lessons_path({query1: true}) %></p></div>
  <div class="filter-button"><p><%= link_to "Cours adultes", lessons_path({query2: true}) %></p></div>
  <div class="filter-button"><p><%= link_to "Découverte", lessons_path({query3: "Découverte"}) %></p></div>
  <div class="filter-button"><p><%= link_to "Atelier libre", lessons_path({query4: "Atelier libre"}) %></p></div>
  <div class="filter-button"><p><%= link_to "Sur mesure", lessons_path({query5: "Sur mesure"}) %></p></div>
</div>
