<div class="cart">
  <div class="quantity">
      <%= simple_form_for @cart_item do |f|%>
        <%= f.input :slot, label: "Choisir un créneau", collection: @lesson.slot.map { |slot| l(slot.to_date, :format => "%A %e %B %Y", :locale => 'fr')} %>
        <span>Montant de l'acompte : <%= number_to_currency(@lesson.deposit, unit: "€", separator: ",", format: "%n %u") %></span>
  </div>
  <div class="button">
        <%= hidden_field_tag :lesson, @lesson.id %>
        <%= f.button :submit, "Ajouter au panier", class: "button-show" %>
      <% end %>
  </div>
  <div>
  </div>
</div>


<!-- html: { id: :flatpickr }  -->
