<div class="cart">
  <div class="quantity">
      <%= simple_form_for @cart_item do |f|%>
        <%= f.input :slot, label: false, collection: @lesson.slot, input_html: {data: {"slots" => "#{@lesson.slot}"}} %>
  </div>
  <div class="button">
        <%= hidden_field_tag :lesson, @lesson.id %>
        <%= f.button :submit, "Ajouter au panier", class: "btn-danger" %>
      <% end %>
  </div>
  <div>
  </div>
</div>
<% if user_signed_in? %>
          <% if current_user.adminkey == "admin" %>
  <% array = [] %>
  <% i = 0 %>
  <% 100.times do |i|
    array << (Date.today + i)
    i += 1
  end %>
    <%= simple_form_for @lesson do |f|%>
      <%= f.input :slot, label: "choisir la nouvelle date", collection: array %>
      <%= f.button :submit, "Ajouter une date", class: "btn-danger" %>
    <% end %>
<% end %>
<% end %>

<!-- html: { id: :flatpickr }  -->
