<div class="form-container">
  <div class="product-form">
    <%= simple_form_for(@lesson) do |f| %>
      <%= f.input :title, label: 'Intitulé' %>
      <%= f.input :category, label: 'Catégorie', default: "#{@lesson.category}", collection: ["Cours enfants", "Cours adultes", "Découverte", "Atelier libre", "Stage" ]  %>
      <%= f.input :description, label: 'Description du cours' %>
      <%= f.input :price_cents, label: "Prix en millième d'euros" %>
      <%= f.input :quantity, label: 'Quantité'%>
      <%= f.input :adult, label: 'Cours pour adulte', class: "form-control" %>
      <%= f.input :child, label: 'Cours pour enfant', class: "form-control" %>
      <%= f.input :phone_booking, label: 'Réservation par téléphone', class: "form-control" %>
      <%= f.input :payable, label: 'Payable en ligne', class: "form-control" %>
      <%= f.input :online_booking, label: 'Réservation en ligne', class: "form-control" %>
      <%= f.input :gift_card, label: 'Carte cadeau', class: "form-control" %>
      <%= f.file_field :photo, label: 'Ajouter une photo' %>
            <h1>Rubriques</h1>
      <%= f.input :card_description, label: 'Description apparaissant sur la carte/infos complémentaires' %>
      <%= f.input :pricing, label: 'Tarifs' %>
      <%= f.input :schedule, label: 'Horaires' %>
      <br>
      <div class="button-container">
        <%= f.submit "+ Mettre à jour cet leçon", class: "btn btn-size" %>
      </div>
    <% end %>
  </div>
</div>
