<div style="height: 50px"></div>
<%= render 'shared/overview' %>
<!-- <div class="packer-lesson">
  </div> -->
  <div class="main-container" id="cards-lesson">
    <div class="card-container-lesson">
      <% @lessons.each do |lesson| %>
        <div class ="card-dispatch-lesson">
          <%= link_to lesson_path(lesson) do %>
            <div class="card-lesson">
              <div class ="card-image-lesson"
                   style="background-image: url(
                    '<%= cl_image_path lesson.photo.blank? ? 'https://picsum.photos/300/300/?random' : lesson.photo %>'
                   );">
              </div>
              <div class="card-content-lesson">
                <h4><%= lesson.title %></h4>
                <p><%= lesson.card_description %></p>
              </div>
              <div class="lesson-infos"></div>
          <% end %>
            </div>
        </div>
      <% end %>
    </div>
    <div class="events">
      <h3>Evenement à venir</h3>
      <ul>
        <% @events.sort_by {|a| a.start_date}.take(4).each do |event| %>
          <li>
            <h4><%= event.title %></h4>
            <p><%= event.start_date.strftime("%F") %></p>
          </li>
        <% end %>
      </ul>
      <%= link_to events_path do %>
        <button class="button-infos">Tout voir</button>
      <% end %>
    </div>
  </div>


<!--   <div class="search-lesson">
    <div class="search-input-lesson">
      <%= form_tag lessons_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control lesson",
        placeholder: "Rechercher une leçon...",
        value: ""
        %>
    </div>
    <div class="search-submit-lesson">
        <%= submit_tag("Valider") %>
      <% end %>
    </div>
    <div class="dropdown-lesson">
      <button class="dropbtn-lesson">Filtrer par catégorie</button>
      <div class="dropdown-content">
        <%= link_to "Atelier adulte", lessons_path({query: "Adulte"}) %>
        <%= link_to "Atelier enfant", lessons_path({query: "enfant"}) %>
        <%= link_to "Atelier découverte", lessons_path({query: "découverte"}) %>
      </div>
    </div>
  </div> -->
