<div class="show-container">
  <div class="copied-box">Numéro copié 📲</div>
  <div class="root-show">
    <%= link_to '<i class="fas fa-chevron-circle-left"></i> Retour à la liste'.html_safe, :back %>
  </div>
  <div class="product-container">
    <div class="product-image">
      <div class="list-carrousel">
        <% if @lesson.photo? %>
          <div class="slick-image-container">
            <!-- <span class="lesson-image"> -->
              <%= image_tag(@lesson.photo.to_s, :alt => @lesson.alt) do %>
              <% end %>
            <!-- </span> -->
          </div>
        <% end %>
        <% if @lesson.photo_1? %>
          <div class="slick-image-container">
            <!-- <span class="lesson-image"> -->
              <%= image_tag(@lesson.photo_1.to_s, :alt => @lesson.alt) do %>
              <% end %>
            <!-- </span> -->
          </div>
        <% end %>
        <% if @lesson.photo_2? %>
          <div class="slick-image-container">
            <!-- <span class="lesson-image"> -->
              <%= image_tag(@lesson.photo_2.to_s, :alt => @lesson.alt) do %>
              <% end %>
            <!-- </span> -->
          </div>
        <% end %>
      </div>
    </div>
    <div class="product-description">
      <div class="description-top">
        <div class="description-title">
          <%= @lesson.title %>
        </div>
        <div class="description-category">
          <%= @lesson.category %>
        </div>
      </div>
        <div class="description-content">
          <pre><%= @lesson.description %></pre>
        </div>
      <div class="description-bottom">
        <div class="price-show">
          <% if @lesson.payable == true %>
            <%= number_to_currency(@lesson.total, unit: "€", separator: ",", format: "%n %u") %>
          <% end %>
        </div>
      <% if @lesson.payable %>
        <%= render "lessons/payable" %>
      <% else %>
        <%= render "lessons/phone-booking" %>
      <% end %>
        <% if @lesson.gift_card %>
            <div class="gift_card">
              <%= link_to new_cart_path(gift: true, lesson: @lesson.id) do %>
                > Bon cadeau <span style="font-size: 14px">&#x1F381</span>
              <% end %>
            </div>
          <% end %>
<!--       <% if user_signed_in? %>
        <% if current_user.adminkey == "admin" %>
          <% array = [] %>
          <% i = 0 %>
          <% 363.times do |i|
            array << (Date.today + i)
            i += 1
          end %>
            <%= simple_form_for @lesson do |f|%>
              <%= f.input :slot, label: "Choisir une nouvelle date", collection: array %>
              <%= hidden_field_tag "true", true%>
              <%= f.button :submit, "Ajouter", class: "button-show" %>
            <% end %>
            <%= simple_form_for @lesson do |f|%>
              <%= f.input :slot, label: "Supprimer une date", collection: @lesson.slot %>
              <%= f.button :submit, "Supprimer", class: "button-show" %>
            <% end %>
        <% end %>
      <% end %> -->
      </div>
    </div>
  </div>
  <div class="more-infos">
     <ul class="infos-list">
        <li class="tab selected-tab">Description</li>
        <li class="tab">Horaires</li>
        <li class="tab">Tarifs</li>
        <li class="tab hide">Avis</li>
      </ul>
      <div class="infos-dispatch-content">
        <span class="infos-show"><%= render 'lessons/description' %></span>
        <span class=""><%= render 'lessons/horaires' %></span>
        <span class=""><%= render 'lessons/reglement' %></span>
        <span class="hide"><%= render 'lessons/avis' %></span>
      </div>
  </div>
</div>
