<% total_cart = 0 %>
<% reduction = 0 %>

<div class="cart_item-wrapper">
  <div class="cart_item-banner">
    <div class="delivery-infos">
      Livraison par Colissimo<br>
      <h6>Gratuit pour les commandes de plus de 100,00 €</h6>
    </div>
    <div class="delivery-infos">
      Retours sans condition sous 15 jours <br>
      <h6>Contacter Tessa Guilbaud</h6>
    </div>
    <div class="delivery-infos">
      Paiements sécurisés à 100 % <br>
      <h6>et politique de remboursement fiable</h6>
    </div>
  </div>
    <span id="data-cart_items"><p>Nombre d'articles : <%= @cart_items.count %></p></span>
  <div class="cart_item-container">
    <% @cart_items.each do |cart_item| %>
    <div class="card-cart_items">
      <div class="delete-item">
        <%= link_to cart_item_path(cart_item), method: :delete do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="quantity-item">
        <%= simple_form_for(cart_item, remote: true) do |f|%>
          <%= f.number_field :quantity, class: "narrow-input"%>
          <%= f.submit %>
        <% end %>
      </div>
      <div class="infos-item" id="infos-item">
        <%= render 'cart_items/variable', cart_item: cart_item %>
      </div>
      <div class="amount-item" id="amount-item">
        <%= render 'cart_items/total', cart_item: cart_item %>
      </div>
    </div>
      <% total_cart += cart_item.total %>
    <% end %>
      <div class="summary">
        <div class="summary-empty"></div>
        <div class="summary-checkout" id="summary-checkout">
          <%= render 'cart_items/recap', cart_item: @cart_items, total_cart: total_cart, reduction: reduction %>
          <div class="button-checkout">
            <% if CartItem.count != 0 %>
            <span>
              <%= link_to products_path do %>
                <%= submit_tag 'Continuer mes achats', class: 'btn btn-secondary' %>
              <% end %>
              </span>
              <span>
              <% @cart_id = @cart_items.last.cart_id %>
              <%= link_to cart_path(@cart_id) do %>
                <%= hidden_field_tag 'cart_id', @cart_id%>
                <%= submit_tag 'Paiement', class: 'btn btn-danger' %>
              <% end %>
              </span>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>


