<div class="cart_item-container" style="padding-top: 100px">
  <p>Nombre d'articles : <%= @cart_items.count %></p>
  <% @cart_items.each do |cart_item| %>
    <li><%= cart_item.product.name %>
    <%= link_to "supprimer", cart_item_path(cart_item), method: :delete %>
    </li>
  <% end %>
  <% if CartItem.count != 0 %>
    <% @cart_id = @cart_items.last.cart_id %>
    <%= link_to cart_path(@cart_id) do %>
      <%= hidden_field_tag 'cart_id', @cart_id%>
      <%= submit_tag 'Checkout', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>

