<div class="cart_item-wrapper">
  <div class="cart_item-banner">
    <div class="delivery-infos">
      Livraison par Colissimo<br><br>
      Gratuit pour les commandes de plus de 100,00 €
    </div>
    <div class="delivery-infos">
      Retours sans condition sous 15 jours <br><br>
      Contacter Tessa Guilbaud
    </div>
    <div class="delivery-infos">
      Paiements sécurisés à 100 % <br><br>
      et politique de remboursement fiable
    </div>
  </div>
    <span id="data-cart_items"><p>Nombre d'articles : <%= @cart_items.count %></p></span>
  <div class="cart_item-container">
    <% @cart_items.each do |cart_item| %>
    <div class="card-cart_items">
      <div class="delete-item">
        <%= link_to cart_item_path(cart_item), method: :delete do %>
          supprimer
        <% end %>
      </div>
      <div class="quantity-item">
        <%= simple_form_for cart_item do |f|%>
        <%= f.number_field :quantity, class: "narrow-input"%>
        <% end %>

      </div>
      <div class="infos-item">
        <span><%= cart_item.product.name %> ( x <%= cart_item.quantity %> )</span>
      </div>
      <div class="amount-item">
        <p class="font-weight-bold">Total : <span class="badge badge-info"><%= number_to_currency(cart_item.total, unit: "€", separator: ",", format: "%n %u") %></span></p>
      </div>
    </div>
      <% end %>
      <div class="summary">
        <div class="summary-empty"></div>
        <div class="summary-checkout">
          Récapitulatif de la commande <br><br>
          Sous-total :<br><br>
          Total :
          <div class="button-checkout">
            <% if CartItem.count != 0 %>
            <span>
              <%= link_to carts_path do %>
                <%= submit_tag 'Continuer mes achats', class: 'btn btn-secondary' %>
              <% end %>
              </span>
              <span>
              <% @cart_id = @cart_items.last.cart_id %>
              <%= link_to cart_path(@cart_id) do %>
                <%= hidden_field_tag 'cart_id', @cart_id%>
                <%= submit_tag 'Payer', class: 'btn btn-danger' %>
              <% end %>
              </span>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>


