<% total_cart = 0 %>
<% reduction = 0 %>
<% if @cart_items.count == 0 %>
  <div class="panier-vide-container">
    <div class="panier-vide-content">
      <div>Votre panier est vide</div>
      <br>
      <i class="fas fa-cart-plus" style="font-size: 60px;"></i>
  </div>
<% else %>
  <div class="cart_item-container" style="margin-top: 100px">
  <span id="data-cart_items"><p>Nombre d'articles : <%= @cart_items.count %></p></span>
    <% @cart_items.each do |cart_item| %>
    <div class="card-cart_items">
      <div class="delete-item">
        <%= link_to cart_item_path(cart_item), method: :delete do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="quantity-item">
        <%= simple_form_for(cart_item, remote: true) do |f|%>
          <%= f.number_field :quantity, :as => "number", class: "narrow-input"%>
          <%= f.submit "ajouter", class: "quantity-submit" %>
        <% end %>
      </div>
      <div class="infos-item" id="infos-item">
        <%= render 'cart_items/variable', cart_item: cart_item %>
      </div>
      <div class="amount-item" id="amount-item">
        <%= render 'cart_items/total', cart_item: cart_item %>
      </div>
    </div>
      <% total_cart += cart_item.total %>
    <% end %>
      <div class="summary">
        <div class="summary-empty"></div>
        <div class="summary-checkout" id="summary-checkout">
          <% @total_cart = total_cart %>
          <% @reduction = reduction %>
          <span id="total-ajax">
          <%= render 'cart_items/recap', cart_item: @total_cart, total_cart: @total_cart, reduction: @reduction %>
          </span>
          <div class="button-checkout">
            <% if CartItem.count != 0 %>
            <span>
              <%= link_to lessons_path do %>
                <%= submit_tag 'Continuer mes achats', class: 'btn btn-secondary' %>
              <% end %>
            </span>
            <span>
              <% @cart_id = @cart_items.last.cart_id %>
              <%= link_to cart_path(@cart_id) do %>
                <%= hidden_field_tag 'cart_id', @cart_id%>
                <%= submit_tag 'Paiement', class: 'btn btn-danger' %>
              <% end %>
            </span>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>


