<h1 style="padding-top: 80px">HELLO ready for payement</h1>
<h1>Purchase of a product <%= @purchase.product_sku %></h1>
<%= form_tag cart_purchase_payments_path(@purchase) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@purchase.amount_cents) %></span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Product"
    data-email="<%= current_user.email %>"
    data-description="Product <%= @purchase.product_sku %>"
    data-amount="<%= @purchase.amount_cents*100 %>"
    data-currency="<%= @purchase.amount.currency %>"></script>

<% end %>
