<div id="stripe-checkout" style="margin: 100px auto !important; background-color: white; min-height: 10vh !important">
  <h4 style="padding-top: 30px; font-size: 30px">Reçu</h4>
  <% if params[:gift] %>
    <h4>Référence : G-<%= Date.today.strftime("%m%d") %>-<%= current_user.id %>-<%= Purchase.find(params[:id]).product_sku %></h4>
  <% else %>
    <h4>Référence : D-<%= Date.today.strftime("%m%d") %>-<%= current_user.id %>-<%= Purchase.find(params[:id]).product_sku %></h4>
  <% end %>
  <% if params[:gift] == "true" %>
    <img class="download-giftcard" style="width: 100%" src="https://res.cloudinary.com/dw7nokc0j/image/upload/v1560937414/Bon_cadeau.jpg" alt="" onclick="download()">
    <a href="https://res.cloudinary.com/dw7nokc0j/image/upload/v1560937414/Bon_cadeau.jpg"
   download="Gift Card" target="_blank">Afficher le bon cadeau</a>
  <% else %>
    <img style="width: 100%; opacity: 0.5" src="https://res.cloudinary.com/dw7nokc0j/image/upload/v1554822755/barbotine.jpg" alt="">
  <% end %>
  <div style="text-align: center; margin-bottom: 0px">
  <br>
      <article>
        <label class="amount">
          <% if params[:gift] == "true" %>
          <% else %>
            <span>
              <p>
                <% Purchase.find(params[:id]).slot.each do |s| %>
                  <%= s %> <br>
                <% end %>
              </p>
            </span>
          <% end %>
        </label>
      </article>
  </div>
</div>
