<div class ="card-wrapper-teaching">
<!--   <ul>
  <% @teachings.each do |teaching| %>
    <li class ="card-dispatch-teaching" style="margin-top: 100px;">
      <%= link_to teaching_path(teaching) do %>
        <div class="card-teaching">
          <div class ="card-image-teaching">
          </div>
          <div class="card-content-teaching">
            <h4><%= teaching.title %></h4>
            <h4><%= teaching.content %></h4>
          </div>
          <div class="teaching-infos"></div>
          <% if user_signed_in? %>
          <% if current_user.adminkey == "admin" %>
            <%= link_to teaching_path(teaching) do %>
              <button id="modify" class="button-infos">modifier</button>
            <% end %>
            <%= link_to teaching_path(teaching), method: :delete, data: { confirm: 'Confirmer' }  do %>
              <button id="modify" class="button-infos">Supprimer</button>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
        </div>
    </li>
  <% end %>
    </ul> -->

    <div style="margin: auto; width: 80%; padding-top: 60px;">
  <h1 style="font-size:26px;line-height:31px;">P&eacute;dagogie</h1>
<!--   <p><br />
  <span style="font-size:14px;"><span style="color: rgb(153, 204, 102);">Sur le &quot;chemin de la terre &agrave; l&#39;objet&quot;, je propose des situtations de modelage adapt&eacute;es &agrave; la personne. Car chacun se trouve &agrave; une &eacute;tape du chemin de la cr&eacute;ation, capable d&#39;&eacute;voluer pour en d&eacute;couvrir d&#39;autres.</span></span><br />
  &nbsp;</p> -->
  <p>Pour faire &eacute;merger la cr&eacute;ativit&eacute; que nous avons tous, il faut d&#39;abord rentrer en relation avec la mati&egrave;re. La technique ne vient qu&#39;apr&egrave;s.</p>
  <p>Si vous souhaitez faire du modelage, vous commencerez par des situations pour red&eacute;couvrir vos mains et sentir qu&#39;elles sont rattach&eacute;es &agrave; votre corps. Ainsi vous exp&eacute;riementerez combien le mouvement est premier dans une figure model&eacute;e.</p>
  <p>Si vous souhaitez r&eacute;aliser des objets, vous commencerez par r&eacute;aliser un pot dans la main avant de passer au tour ou &agrave; la plaque. Car c&#39;est dans la relation directe avec la mati&egrave;re, sans outil, que vous allez devenir inventif.<br />
  &nbsp;</p>
  <h1><span style="font-family:averia+sans+libre;"><span style="font-size:26px;">Les niveaux&nbsp;</span></span></h1>
  <h2 style="font-size: 18px; color: rgb(68, 68, 68);"><br />
    <span style="font-family:averia+sans+libre;"><span style="font-size:24px;">De la trace &agrave; l&#39;empreinte</span></span><br />
    &nbsp;</h2>
  <p><strong>Niveau 1</strong></p>
  <p>En vivant les situations de modelage propos&eacute;es, vous lib&eacute;rez votre cr&eacute;ativit&eacute; et vous d&eacute;couvrez les figures qui vous habitent. Les esquisses ainsi r&eacute;alis&eacute;es dessinent peu &agrave; peu votre &quot;fil rouge cr&eacute;atif&quot; pour vous mener &agrave; un travail abouti.</p>
  <p>&nbsp;</p>
  <p><span style="font-family:averia+sans+libre;"><strong>Niveau 2</strong></span></p>
  <p>Vous explorez d&#39;autres techniques de mise en volume et d&#39;autres mati&egrave;res pour &eacute;largir votre spectre cr&eacute;atif. Vous &ecirc;tes accompagn&eacute; pour rep&eacute;rer une histoire &agrave; travers vos diff&eacute;rentes cr&eacute;ations.</p>
  <p><br />
  <span style="font-size:24px;">Variations sur le creux</span><br />
  &nbsp;</p>
  <p><strong>Niveau 1</strong></p>
  <p>Vous d&eacute;couvrez les gestes pour r&eacute;aliser un pot centr&eacute; au cours de plusieurs situations cr&eacute;atives diff&eacute;rentes et vous faites m&eacute;erger les formes qui vous appartiennent. Vous appr&eacute;hendez ainsi les carct&eacute;ristiques de l&#39;argile et rep&eacute;rez le &quot;fils rouge&quot; de votre cr&eacute;ativit&eacute;. Vous explorez ensuite les bases de d&eacute;cor &agrave; partir de terres color&eacute;es, d&#39;&eacute;maux et de patines.</p>
  <p><strong>Niveau 2</strong></p>
  <p>Apr&egrave;s avoir rep&eacute;r&eacute; votre &quot;fil rouge cr&eacute;atif&quot;, vous pouvez r&eacute;aliser un &quot;projet &agrave; partir de vos d&eacute;couvertes. Ce projet pourra &ecirc;tre une s&eacute;rie de bols, une th&eacute;i&egrave;re..., une composition d&eacute;corative, une installation... Vous &ecirc;tes accompagn&eacute; sur la pr&eacute;cision du projet et sa r&eacute;alisation. vous d&eacute;couvrez les techniques de mise en forme correspondantes et vous rechercher les d&eacute;cors et textures.</p>
  <p>&nbsp;</p>
  <div style="float:left;width:150px;">
    <p><br />
    <br />
    .</p></div>
  <p>&nbsp;</p></div>
