<div class="form-container">
  <div class="product-form">
    <%= simple_form_for(@product) do |f| %>
      <%= f.input :name, label: 'Intitulé' %>
      <%= f.input :description, label: 'Description du produit' %>
      <%= f.input :price, label: 'Prix en euros' %>
      <%= f.file_field :photo, label: 'Ajouter une photo' %> <br>
      <%= f.submit "+ Modifer ce produit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
