<% content1 = "https://images.unsplash.com/photo-1487268113661-a75c49688467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80" %>
<% content2 = "https://images.unsplash.com/photo-1481401908818-600b7a676c0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE3MzYxfQ&auto=format&fit=crop&w=751&q=80" %>
<% content3 = "https://images.unsplash.com/photo-1462849251721-16fc0fa4609c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" %>

<div class="packer">
  <div class="slide">
    <div class="list-carrousel">
      <div><img src=<%= content1 %> alt="Smiley face" style="height: 300px; border-radius: 10px"></div>
      <div><img src=<%= content2 %> alt="Smiley face" style="height: 300px; border-radius: 10px"></div>
      <div><img src=<%= content3 %> alt="Smiley face" style="height: 300px; border-radius: 10px"></div>
    </div>
  </div>
    <div class="search-product">
      <div class="search-wrapper">
        <div class="search-input">
           <%= form_tag products_path, method: :get do %>
              <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Rechercher un produit...",
              value: ""
              %>
        </div>
        <div class="search-submit">
              <%= submit_tag("Valider") %>
            <% end %>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Filtrer par catégorie</button>
            <div class="dropdown-content">
              <%= link_to "A table", lessons_path({query: "A table"}) %>
              <%= link_to "Maison", lessons_path({query: "Maison"}) %>
              <%= link_to "Pièce unique", lessons_path({query: "unique"}) %>
            </div>
          </div>
      </div>
    </div>
  <div class="main-container" id="cards">
    <h3><span>Nos produits</span></h3>
    <div class="card-container">
      <% @products.each do |product| %>
        <div class ="row row-condensend">
          <div class="col-sm-4">
            <%= link_to product_path(product) do %>
              <div class="card">
                <div class ="card-image"
                     style="background-image: url(
                      '<%= cl_image_path product.photo.blank? ? 'https://picsum.photos/300/300/?random' : product.photo %>'
                     );">
                    <div class="card-deploy">
                      <div class="card-infos">
                        <h5 class="text-name"><%= product.name %></h5>
                        <p class="card-description"><%= product.description %></p>
                        <!-- <p class="text-age"><%= number_to_currency(product.total, unit: "€", separator: ",", format: "%n %u") %></p> -->
                        <p class="text-gender"><%= product.quantity %> unités </p>
                      </div>
                    </div>
                </div>
                <div class="card-content">

                  <h5><%= product.name %></h5>
                  <p class="text-right"><%= number_to_currency(product.total, unit: "€", separator: ",", format: "%n %u") %></p>
                </div>
                <p class="text-bottom">Description</p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
