<div class="packer">
  <div class="slide">
    <div class="list-carrousel">
      <div><img src="https://source.unsplash.com/random" alt="Smiley face" style="height: 300px"></div>
      <div><img src="https://source.unsplash.com/random" alt="Smiley face" style="height: 300px"></div>
      <div><img src="https://source.unsplash.com/random" alt="Smiley face" style="height: 300px"></div>
    </div>
  </div>
    <div class="search-product">
      <div class="search-wrapper">
        <div class="search-input">
          <input type="text" placeholder=" Rechercher un produit">
        </div>
        <div class="search-submit">
          <input type="submit" class="btn btn-primary">
        </div>
        <div class="dropdown">
          <button class="dropbtn">Filtrer par catégorie</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
      </div>
    </div>
  <div class="main-container" id="cards">
    <h3><span>Tous les produits</span></h3>
    <div class="card-container">
      <% @products.each do |product| %>
        <div class ="row row-condensend">
          <div class="col-sm-4">
            <%= link_to product_path(product) do %>
              <div class="card">
                <div class ="card-image"
                     style="background-image: url(
                      '<%= cl_image_path product.photo.blank? ? 'https://picsum.photos/300/300/?random' : product.photo %>'
                     );">
                    <div class="card-deploy">
                      <div class="card-infos">
                        <h5 class="text-name"><%= product.name %></h5>
                        <p class="card-description"><%= product.description %></p>
                        <p class="text-age"><%= product.price_cents %> € </p>
                        <p class="text-gender"><%= product.quantity %> unités </p>
                      </div>
                    </div>
                </div>
                <div class="card-content">
                  <h5><%= product.name %></h5>
                  <p class="text-right"><%= product.price_cents %> € </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
