<div class="main-container">
  <div class="form-container">
    <div class="product-form">
      <%= simple_form_for(@product) do |f| %>
      <div class="group">
        <%= f.input :name, label: 'Intitulé' %>
      </div>
      <div class="group">
        <%= f.input :category, label: 'Catégorie' %>
      </div>
      <div class="group">
        <%= f.input :description, label: 'Description du produit' %>
      </div>
      <div class="group">
        <%= f.input :price, label: 'Prix en euros' %>
      </div>
      <div class="group">
        <%= f.file_field :photo, label: 'Ajouter une photo' %> <br>
      </div>
        <%= f.submit "+ ajouter ce produit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
