<div class="form-container">
  <div class="product-form">
    <%= simple_form_for(@product) do |f| %>
      <%= f.input :name, label: 'Intitulé' %>
      <%= f.input :category, label: 'Catégorie' %>
      <%= f.input :description, label: 'Description du produit' %>
      <%= f.input :price_cents, label: 'Prix en euros' %>
      <%= f.file_field :photo, label: 'Ajouter une photo' %>
      <div class="button-container">
      <%= f.submit "+ ajouter ce produit", class: "btn btn-size" %>
      </div>
    <% end %>
  </div>
</div>
