<div class="form-container">
  <div class="product-form">
    <%= simple_form_for(@product) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.file_field :photo %>
      <%= f.submit "+ ajouter", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
