<div class="show-container">
  <div class="product-container">
    <div class="product-image">
      <%=  %>
    </div>
    <div class="product-description">
      <div class="description-title">
        <h2><%= @product.category %></h2>
        <h1><%= @product.name %></h1>
      </div>
      <div class="description-content">
        <p><%= @product.description %></p>
        <span><%= @product.price %></span>
      </div>
      <div class="call-to-action">
        <div class="quantity">
        <%= simple_form_for @product do |f|%>
        </div>
        <div class="cart">
        <%= f.input :quantity, label: 'Quantité' %>
        </div>
        <% end %>
        <button class="btn btn-primary">Ajouter au panier</button>
      </div>
    </div>
  </div>
</div>
