<div class="show-container">
  <div class="product-container">
    <div class="product-image">
      <%= @product.category %>
      <%= @product.photo %>
    </div>
    <div class="product-description">
      <div class="description-title">
        <h1><%= @product.name %></h1>
      </div>
      <div class="description-content">
        <p><%= @product.description %></p>
        <span><%= @product.price %></span>
      </div>
      <div class="call-to-action">
        <button>Ajouter au panier</button>
      </div>
    </div>
  </div>
</div>
