<div class="show-container">
  <div class="product-container">
    <div class="product-image">
      <%=  %>
    </div>
    <div class="product-description">
      <div class="description-title">
        <h4><%= @product.category %></h2>
        <h3><%= @product.name %></h1>
      </div>
      <div class="description-content">
        <p><%= @product.description %></p>
      </div>
      <div class="call-to-action">
          <div class="price_cents">
            <span><%= @product.total %> euros</span>
          </div>
          <div class="cart">
              <%= simple_form_for @product do |f|%>
              <%= f.label :quantity %>
            <div class="quantity">
              <%= f.input_field :quantity %>
            </div>
              <% end %>
            <div class="button">
              <%= link_to cart_items_path(product: @product.id), method: :post, remote: false do %>
                <button class="btn btn-primary">Ajouter au panier</button>
              <% end %>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>

