<div class="show-container">
  <div class="root-show"><span><%= link_to "< Retour à la liste", products_path %></span></div>
  <div class="product-container">
    <div class="product-image">
      <span><%= image_tag(@product.photo.to_s) do %>
      <% end %>
      </span>
    </div>
    <div class="product-description">
      <div class="description-title">
        <%= @product.category %>
        <%= @product.name %>
      </div>
      <div class="description-content">
        <p><%= @product.description %></p>
      </div>
      <div class="call-to-action">
        <div class="price_cents" style="float: right">
          <p class="font-weight-bold">Prix :<span style="font-size:30px; margin-right: 10px">          <%= number_to_currency(@product.total, unit: "€", separator: ",", format: "%n %u") %></span></p>
        </div>
        </div>
        <div class="cart">
            <%= simple_form_for @product do |f|%>
          <div class="quantity">
            <%= f.input_field :quantity %>
          </div>
            <% end %>
          <div class="button">
            <%= link_to cart_items_path(product: @product.id), method: :post, remote: false do %>
              <button class="btn btn-primary">Ajouter au panier</button>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
