<div class="show-container">
  <div class="root-show">
    <%= link_to '<i class="fas fa-chevron-circle-left"></i>   Retour à la liste'.html_safe, products_path %>
  </div>
  <div class="product-container">
    <div class="product-image">
      <span><%= image_tag(@product.photo.to_s) do %>
      <% end %>
      </span>
    </div>
    <div class="product-description">
      <div class="description-top">
        <div class="description-title">
          <%= @product.name %>
        </div>
        <div class="description-category">
          <%= @product.category %>
        </div>
      </div>
      <div class="description-content">
        <%= @product.description %>
      </div>
      <div class="description-bottom">
        <div class="price-show">
          <%= number_to_currency(@product.total, unit: "€", separator: ",", format: "%n %u") %>
        </div>
        <div class="cart">
            <%= simple_form_for @product do |f|%>
          <div class="quantity">
            <input type="number" max='<%= @product.quantity %>' min="1" step="1" value="1">
          </div>
          <% end %>
          <div class="button">
            <%= link_to cart_items_path(product: @product.id), method: :post, remote: false do %>
              <button class="button-show">Ajouter au panier</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
