<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>De la Terre à l'Objet : <%= if @lesson.present?
                                          "#{@lesson.title}"
                                        else
                                          "Atelier céramique Paris 18"
                                        end %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <%= favicon_link_tag 'logo.png' %>

    <meta name="description" content="Atelier céramique Paris 18 : <%= "#{@lesson.title}" if @lesson.present? %>">
    <meta name="title" content="Atelier céramique Paris 18 : <%= "#{@lesson.title}" if @lesson.present? %>">
    <META NAME='KEYWORDS' CONTENT="<%= "#{@lesson.title}" if @lesson.present? %>, céramique, poterie, modelage, émaillage, atelier de céramique paris, atelier de poterie paris, cours de céramique paris, paris, paris 18, 18ème, creation de book, Plasticien, atelier, modelage, céramique, émaux, engobe, de la terre à l'objet, atelier de céramique, loisirs créatifs, travaux manuels, poterie, créativité, creativite, enfant, adulte">

        <!-- Facebook Open Graph data -->
    <meta property="og:title" content="De la Terre à l'Objet" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="https://res.cloudinary.com/dw7nokc0j/image/upload/c_scale,w_600/v1560244276/p7sgwq7u9uojnrdnta3v.jpg" />
    <meta property="og:description" content="Atelier céramique Paris 18" />
    <meta property="og:site_name" content="De la Terre à l'Objet" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144011942-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144011942-1');
    </script>
  </head>
  <body>
    <%= render 'shared/navbar2' %>
    <p id="alert"> <%= alert %></p>
    <section class="boundary"><%= yield %></section>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
