<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>De la Terre à l'Objet : <%= if @lesson.present?
                                          "#{@lesson.title}"
                                        else
                                          "Atelier céramique Paris 18"
                                        end %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <meta name="description" content="La trace et l'empreinte de la main sont pour moi sources d'innovation par l'inattendu et la surprise qu'elles provoquent.">
    <meta name="title" content="Atelier céramique Paris 18 : <%= "#{@lesson.title}" if @lesson.present? %>">
    <META NAME='KEYWORDS' CONTENT="<%= "#{@lesson.title}" if @lesson.present? %>, céramique, poterie, modelage, émaillage, atelier de céramique paris, atelier de poterie paris, cours de céramique paris, paris, paris 18, 18ème, creation de book, Plasticien, atelier, modelage, céramique, émaux, engobe, de la terre à l'objet, atelier de céramique, loisirs créatifs, travaux manuels, poterie, créativité, creativite, enfant, adulte">

        <!-- Facebook Open Graph data -->
    <meta property="og:title" content="De la Terre à l'Objet" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="https://res.cloudinary.com/dw7nokc0j/image/upload/c_scale,w_600/v1560244276/p7sgwq7u9uojnrdnta3v.jpg" />
    <meta property="og:description" content="Atelier céramique Paris 18" />
    <meta property="og:site_name" content="De la Terre à l'Objet" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144011942-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144011942-1');
    </script>
  </head>
  <body id="deltao-main">
    <div class="w3-container" style="display:none" id="sidebar">
      <button class="w3-button"
      onclick="w3_close()">Fermer &times;</button>
      <a id="" class="w3-bar-item .sign_out xl" href="/lessons">Ateliers</a>
      <a id="" class="w3-bar-item .sign_out xl" href="/lessons?query6=true">Bons cadeaux</a></li>
      <a class="w3-bar-item .sign_out xl" id="select-planning-sidebar">Planning</a>
      <% if user_signed_in? %>
        <a id="" class="w3-bar-item .sign_out xl" href="/account/reservations">Compte</a>
        <a id="" class="w3-bar-item .sign_out xl" href="/cart_items">Panier</a>
        <%= link_to destroy_user_session_path, method: :delete, class: "w3-bar-item header-item header-link" do %>
          <%= t(".sign_out xl", default: "Se déconnecter \u2192") %>
        <% end %>
      <% else %>
        <a id="" class="w3-bar-item .sign_out xl" href="#" style="cursor: not-allowed">Panier</a>
        <%= link_to new_user_session_path, class: "w3-bar-item header-item header-link" do %>
          <%= t(".sign_out xl", default: "\u2192 Se connecter") %>
        <% end %>
      <% end %>
    </div>
    <div class="body-container">
      <%= render 'shared/navbar2' %>
      <%= render 'shared/flashes' %>
      <section class="boundary controller-<%= params[:controller] %>">
        <div class="section_content">
          <%= yield %>
        </div>
      </section>
      <%= render 'shared/footer' %>
      <%= render 'shared/cgv' %>
      <%= render 'shared/planning' %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script>
      function w3_open() {
        document.getElementById("deltao-main").style.width = "calc(100% - 60px)";
        document.getElementById("sidebar").style.width = "-180px";
        document.getElementById("sidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
        document.getElementById("openNav").style.display = 'none';
        document.getElementById("menu-dimissable").style.display = 'none';
      }
      function w3_close() {
        document.getElementById("deltao-main").style.width = "100%";
        document.getElementById("sidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
        document.getElementById("menu-dimissable").style.display = "flex";
      }
    </script>
  </body>
</html>
